<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warcraft Logs Data Compare</title>
</head>
<body>
    <h1>Enter Report Code</h1>
    <form action="/compare_data" method="post">
        <label for="MyURL">My Report URL:</label>
        <input type="text" id="MyURL" name="MyURL" required>
        <br>
        <label for="OtherURL">Other Report URL:</label>
        <input type="text" id="OtherURL" name="OtherURL" required>
        <br>
        <button type="submit">Compare Data</button>
    </form>
</body>
</html>
